.blog-header {
    h2 {
        padding-top: 1.5rem;
        padding-bottom: .5rem;
        color: $primary-darkest;
    }
}

.blog-cards {
    display: flex;
    flex-wrap: column;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    ul {
        list-style: none;
        li{
        display: inline-block;
        }
    }
}
.blog-card { //adds images as the cards then on hover or active hides the image
    height: 35vw;
    width: 35vw; 
    background-size: cover;
    display: flex; //This centers the transparent hyperlinks
    align-items: center;
    justify-content: center;
    a{
        text-decoration: none;
        color: $primary-darkest;
        opacity: 0;
        transition: opacity 2s;
    }
    &:hover,
    &:active {
        a{ 
            opacity: 1;
        }
    }   
}
.blog-text {
    display: flex;
    flex-direction: column;

    h2 {
        padding-bottom: .5rem;
        color: $primary-darkest;
        padding-top: .5rem;
        border-top: 1px dashed $primary-darkest;

    }
    h4 {
        color: $highlight;
        border-bottom: 1px solid $primary-lightest;
        border-top: 1px solid $primary-lightest;
        padding: .25rem;
    }
    p {
        color: $primary-dark;
        padding: .5rem 0 1.5rem 0;
    }
}
#blog1 {
    h2{
        border-top: none;
    }
}
@media screen and (min-width: 1024px){
    .jumbotron {
        .container{
          .blog-card{
            width: 20vw;
            // height: 20vw;
            background-position: center
          }  
        }
    }
}