

input[type=text] , input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid $primary-darkest;
    border-radius: 15px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: $primary-darkest;
    color: $off-white;
    padding: 1rem 2rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}