.form-header {
    padding-top: 1rem;
    h2 {
        padding-bottom: 1rem;
    }
    h4 {
        padding-bottom: 1.5rem;
    }
}
input[type=text] , input[type=email], select, textarea {
    width: 100%;
    padding: .75rem;
    border: 1px solid $primary-darkest;
    border-radius: 15px;
    margin-bottom: 1rem;
}

textarea {
    height: 150px;
}

input[type=submit] {
    background-color: $primary-darkest;
    color: $off-white;
    padding: 1rem 2rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 2rem;

    &:hover,
    &:active {
        background-color: $highlight;
    }
}

.other-contact {
    color: $primary-darkest;
    img {
        margin-bottom: 1rem;
    }
    h4{
        padding-bottom: .25rem;
        padding-top: 1rem;
    }
}