.header img {
    width: 64px;
}

// .main-image img{
//     width: 80vw;
//     height: 80vw;
//     border-radius: 50%;
//     border: 1px solid $primary-darkest;
//     // box-shadow: 0px 0px 20px $primary-darkest; I had this shadow originally placed, however though it was overkill with a shadow for this div and the below text div
//     margin: 10px 0px;
// }

.footer img {
    width: 48px;
    }

.contact-foot img {
    width: 30px;
    filter: brightness(100%) invert(100%) //Researched how I could make an image white as the black default did not work with the background colour.
}

.other-contact img {
    width: 80vw;
    border: 1px solid $primary-darkest;
    border-radius: 15px;
    box-shadow: 0px 0px 20px $primary-darkest;
}