@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,700;1,100&display=swap");
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  margin: 0 auto;
}

.header img {
  width: 64px;
}

.main-image img {
  width: 80vw;
  border-radius: 50%;
  border: 1px solid #0D1B2A;
  margin: 10px 0px;
}

.footer img {
  width: 48px;
}

.contact-foot img {
  width: 30px;
  filter: brightness(100%) invert(100%);
}

body {
  font-family: "Raleway", sans-serif;
}

@keyframes zoom {
  0% {
    width: 0px;
    height: 0px;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header {
  background-color: #0D1B2A;
  width: 100vw;
  height: 96px;
}
.header img {
  animation: zoom 1s;
  margin-left: 1rem;
  padding-top: 0.75rem;
}

.nav-bar {
  background-color: #778DA9;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
.nav-bar .nav-options {
  display: flex;
  justify-content: space-around;
  list-style: none;
  border-bottom: 4px solid #0D1B2A;
  list-style: none;
  font-weight: 700;
}
.nav-bar li {
  text-align: center;
  margin: 0.25rem 0;
}
.nav-bar a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #E0E1DD;
}
.nav-bar .blog-dropdown {
  display: none;
  position: absolute;
  list-style: none;
  padding: 0 10px;
}

@media screen and (min-width: 800px) {
  .nav-options li:hover .blog-dropdown,
  .nav-options li:active .blog-dropdown {
    display: block;
    background-color: #0D1B2A;
  }
  .nav-options li:hover .blog-dropdown li,
  .nav-options li:active .blog-dropdown li {
    border-bottom: 1px dotted #E0E1DD;
    margin: 0;
  }
  .nav-options li:hover .blog-dropdown li:last-child,
  .nav-options li:active .blog-dropdown li:last-child {
    border-bottom: none;
  }
}
.jumbotron {
  text-align: center;
  background-color: #E0E1DD;
}
.jumbotron .container {
  padding-bottom: 1px;
}
.jumbotron h1 {
  color: #0D1B2A;
  padding: 1.5rem 0 0.5rem 0;
}
.jumbotron .main-image h2 {
  color: #0D1B2A;
  padding: 0.5rem;
  animation: spin 3s;
}
.jumbotron .main-image h2:hover,
.jumbotron .main-image h2:active {
  animation: spin 1s infinite;
}
.jumbotron .main-text {
  width: 80vw;
  margin: 0 auto 2rem;
  border: 1px solid #415A77;
  border-radius: 15%;
  padding: 1rem;
  background-color: #415A77;
  color: #E0E1DD;
  box-shadow: 0 0 2rem #778DA9;
}
.jumbotron .main-text h2 {
  padding-bottom: 1.5rem;
  text-decoration: underline;
}
.jumbotron .main-text p {
  padding-bottom: 0.75rem;
  font-weight: 400;
  font-size: 16px;
}

.footer {
  background-color: #778DA9;
  width: 100vw;
  height: 96px;
  border-top: 4px solid #0D1B2A;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.footer .left-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.footer .left-footer li {
  list-style: none;
}
.footer .contact-foot {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 10px;
  height: 50%;
  border: 1px solid black;
  margin: 1rem 1rem 1rem 1rem;
  background-color: #0D1B2A;
  border-radius: 8px;
}
.footer .contact-foot a {
  display: flex;
  align-items: center;
  color: #E0E1DD;
  text-decoration: none;
}
.footer .contact-foot img {
  margin-right: 1rem;
  margin-left: 0.5rem;
}/*# sourceMappingURL=style.css.map */